<head>
<title>{{question.title}}</title>
</head>
<body>
<div id="question">
    <h3>{{question.title}}</h3>
    <a href={{user_link}}>-{{question.user.username}}</a>
    <p>
        {{question.body}}
    </p>
</div>
<div id="answers">
    {{for}}
</div>
</body>